html {
background: #393E46;
}
#title {
  position: absolute;
width: 5000px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
/* line-height: 47px; */
 
/* identical to box height */

color: #D65A31;
}
#content {
  position: absolute;
top: 200px;
left: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#scroll {

position: absolute;
width: 357px;
height: 47px;
bottom: 0px;
left: 50%;
margin-left: -220px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
/* identical to box height */

color: #A34A28;
}
#creator {
  position: absolute;

right: -150px;
top: 60px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
/* identical to box height */

color: #222831;
}
#spam {
  position: absolute;
  bottom: 5000px;
}
#h1{
position: absolute;
top: 9000px;
}
#slidetwo {
  position: absolute;
  top: 1000px;
}
#info {
position: absolute;
/* if you can read this you can read */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
width: 1000000000000009000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000px; 
/* line-height: 47px; */
/* identical to box height */

color: #222831;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
#slidethree {
    position: absolute;
  top: 2000px;
}
#slidefour {
  position: absolute;
  top: 3000px;
}